body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
padding: 0;
margin: 0;
}
.list{ list-style: none;

}
.link{ text-decoration: none;

}
:root {
    --brand-color: #3f51b5;}

/* -----------heder----------- */
.top-header{

}
.navigation{
    display: flex;
    margin-right: auto;
    

}
.contejner{
width: 1152px;
margin: auto;

}
.header-cobntejner{
    display: flex;
}
.logo{ 
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;


}
.logo-color{
color:#2e2f42
}


.header-list{
display: flex;
}


.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 20px;
}

.header-link:is(:hover, :focus){ color:#404BBF}

.header-address{

}
.header-address-list{
    display: flex;
}

.mail-list{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;;
    color: #434455;
    margin-right: 40px;
}

.mail-list:is(:hover, :focus) {
    color: #404BBF
}

/* -----------section1----------- */
.hero{
    background: #2E2F42;
    height: 600px;
}

.hero-text{
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 188px;
    margin: auto;
    padding-bottom: 48px;
}


.hero-btn{
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    margin: auto;
}

    .hero-btn:is(:hover, :focus) {
    background-color: #404BBF;
    cursor: pointer;}



/* ---------------------------------section2------------------------ */
.hidden-sektion{
    
}
.products-procesing-contejner{
    margin-top: 120px;

}

.products-procesing{
    width: 1128;
display: flex;
padding-left: 0;
}
.products-procesing-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    width: 264px;
}


.products-procesing-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 264px;
    
}
.list-produkt{
    margin-right: 24px;
}


/* -----------section3----------- */
.projekt{

}
.projekt-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-top: 120px;

}
.projekt-contejner{
    display: flex;
    margin-top: 72px;
    margin-bottom: 120px;
}

.projekt-list{
    display: flex;
    padding-left: 0;

}
.projekt-foto{
margin-right: 24px;
}
/* -----------section4----------- */
.team-sektion{
    background-color: #F4F4FD;
    height: 732px;
}

.team-contejner{
    margin-top: 120px;
    margin-bottom: 120px;


}
.team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    padding-top: 120px;

}
.team-item{
    display: flex;
    padding-left: 0;
}

.team-list-foto{
background-color: #FFFFFF;
margin-right: 24px;
}

.team-foto{

}
.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-foto{

}
/* -----------footer----------- */
.dottom-sektion{
    background-color: #2e2f42;
    height: 312px;
}
.logo-footer{
    padding-top: 100px  ;
}

.logo-color-footer{
    color: #f4f4fd;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5

}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd

}
/* ------------------ sektione1(portfolio) ------------- */
.filters{

}
.portrtfolio-list {
    display: flex;
    padding-left: 0;
    margin: 96px 271px 72px 271px;

}
.portfolio-item{
}

.filters-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color:#F4F4FD transparent;
    cursor: pointer;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    margin-right: 24px;
    display: flex;
    border: 1px solid #E7E9FC;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    height: 48px;
    background: #F4F4FD;
}

    .filters-btn:is(:hover, :focus) {
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer
}

/* ------------------ sektione2 (portfolio) ------------- */
.sektion-btn{

}
.lisr-item-btn{
    margin-right: 24px;
    margin-bottom: 48px;
}

.btn-list{
display: flex;
flex-wrap: wrap;
padding-left: 0;
}
.img-btn{
    cursor: pointer
}
.sektion-btn-name-app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.sektion-btn-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer-text{
    width: 264px;
}